<div class="banner_mobile mobile">
  <div class="container">
    <nav class="nav justify-content-between">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <img src="assets/iconos/logo.svg" alt="logo" />
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <img src="assets/iconos/hamburguer.svg" alt="hamburguer" />
        </a>
      </li>
    </nav>
  </div>

  <div class="container banner_mobile--text">
    <div class="container">
      <h2>Recuerde</h2>
      <p>
        Por el momento nuestras oficinas no tienen atención al público.
        Atenderemos sus solicitudes por medio de nuestros canales virtuales.
      </p>
      <a class="text-white" href="#">Leer más ></a>
    </div>
  </div>
</div>

<div>
  <div class="container desktop">
    <nav class="nav justify-content-between w-100">
      <li class="nav-item">
        <a style="width: 246px" class="nav-link" routerLink="/">
          <img class="w-100" src="assets/iconos/logo.svg" alt="logo" />
        </a>
      </li>
      <div class="letf d-flex">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="router-link-active"
          >
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> Inmobiliario </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> Arrendatario </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> Propietario </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> Puntos de Servicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <img src="assets/iconos/hamburguer.svg" alt="hamburguer" />
          </a>
        </li>
      </div>
    </nav>
  </div>

  <div class="banner_desktop desktop">
    <div class="banner_desktop--text">
      <p class="blue">NOTICIAS</p>
      <p>
        Por el momento nuestras oficinas no tienen atención al público.
        Atenderemos sus solicitudes por medio de nuestros canales virtuales.
      </p>
    </div>
  </div>
</div>
