@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/forms";
@import "base/typography";

.divider {
  background: #DFDFDF;
  height: 1px;
  margin: 52px 0;
  width: 100%;
}

.contentAll {
  background: tomato;
  
  .banner_desktop {
    background-image: url(../../../../assets/images/banner_home.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 450px;
    margin-bottom: 7rem;
    margin-top: -20px;
    max-height: 450px;
    position: relative;
    width: 100%;
  
    &--text {    
      .blue {
        background-color: $blue-color;
        border-radius: 3px;
        color: $white-color;
        font-family: "Gotham-Bold";
        font-size: 45px;
        margin-top: 10%;
        min-width: 35%;
        padding: 5px;
        text-align: left;
        text-transform: none;
        width: min-content;
      }

      p {
        color: $text-color;
        font-size: 20px;
        font-weight: lighter;
        line-height: 1;
      }
    }
  }
  
  .formMobile {
    margin: 0 auto;
    max-width: 905px;
  
    > .row {
      max-width: 780px;

      @media screen and (max-width: 480px) {
        margin: 0 auto;
        max-width: 320px;
      }

      .col {
        padding: 0;
      }
    }
    
    .max-130 {
      max-width: 130px;
      margin: 0 49px 0 0;

      @media screen and (max-width: 480px) {
        padding: 0;
      }
    }
    
    .image {
      width: 130px;
    }
  
    .blue-text {
      font: 400 27px 'Gotham-Book';
    }
  
    .divider {
      background: #DFDFDF;
      height: 1px;
      margin: 52px 0;
      width: 100%;
    }

    .form {
      .group {
        margin: 0 auto 75px;
        width: 100%;

        @media screen and (max-width: 480px) {
          max-width: 320px;
        }
      }
      
      label, input {
        width: 100%;
      }

      input {
        border: none;
        border-radius: 10px;
        box-shadow: 0px 1px 11px #CCCCCC66;
        box-sizing: border-box;
        color: $gray-color;
        font: 400 17px 'Gotham-Book';
        outline: none;
        padding: 20px;
      }

      .captcha {
        background: white;
        height: 92px;
        margin: 0 auto 52px;
        width: 280px;
      }

      button {
        margin: 0 auto 373px;
      }
    }
  }

  @media(max-width:768px) {
    .banner_desktop{  
      background-image: url(../../../../assets/images/banner_mobile.jpg);
  
      .blue{
        width: 66%;
        padding: 18px;
        font-size: 25px;
        margin-top: 158px;
      }
  
      &--text{
        margin-top: 20%;
      }
    }

    .formMobile {
      background: #f2f2f2;
      border-radius: 50px 50px 0 0;
      margin-top: -14rem;
      padding-top: 3rem;
      position: relative;
      z-index: 10;

      .max-130 {
        max-width: 66px;
        margin: 0 16px 0 0;
      }

      .image {
        width: 66px;
      }

      h3 {
        font: 700 16px 'Gotham-Bold';
      }

      .blue-text {
        font: 400 12px 'Gotham-Book';
      }

      .divider {
        margin: 32px 0 48px;
      }

      .form {
        .group {
          margin: 0 auto 52px;
          
          input {
            font: 400 14px 'Gotham-Book';
            padding: 17px;
          }
        }

        .captcha {
          height: 71px;
          margin: 0 auto 27px;
          width: 217px;
        }

        button {
          margin: 0 auto 209px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 480px) {
    .banner_desktop{    
      background-size: 100%;
      margin-top: -72px;
      
      &--text{
        margin-top: 30%;
      }
    }
  }

  @media screen and (max-width: 480px) {
    .formMobile {
      .divider {
        margin: 32px auto 48px;
        max-width: 320px;
      }
    }
  }
}