@import "abstracts/mixins";
@import "abstracts/variables";

h4 {
  font-family: "Gotham-Bold";

  small{
    font-size: 30px;
  }
}

.box-code {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 7px 0px #bbb;
  height: 290px;
  margin: 0 auto;
  max-width: 675px;
  width: 100%;

  input {    
    box-shadow: 1px 1px 7px 0px #d2cfcf;
    border: solid 1px #dedede;
    border-radius: 10px;
    color: #bd0f14;  
    font-size: 50px;
    font-weight: bold;
    height: 107px;
    margin: 0 auto;
    max-width: 120px;
    text-align: center;
    width: 22%;
  }

  p {
    color: $blue-color;
    font-family: "Gotham-Book";
    font-size: 23px;

    strong {
      font-family: "Gotham-Medium";
    }
  }
}

.text-link {
  color: $blue-color;
  font-family: "Gotham-Medium";
  font-size: 20px;
  margin-top: 10px;
  text-align: center;

  a {
    color: #bd0f14;
    text-decoration: underline;
  }
}

.red-cel {
  color: #bd0f14; 
  font-weight: bold;
}

@include media(mobile) {
  .box-code {
    height: auto;
    padding-bottom: 8px;

    .my-auto {
      margin: 32px !important;
    }

    .code {
      height: auto;
      font-size: 27px !important;
      margin: 3px !important;
      max-width: 22%;
    }

    p {
      font-size: 15px;
    }

    h4 {
      font-size: 0.9rem !important;
    }
  }

  .text-link{
    font-size: 15px;
  }
}

h4 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: $blue-color;
}

.modal-body{
  min-width: 652px;
  
  p {
    color: $blue-color;
    font: 400 20px "Gotham-Book";
    margin: 0 auto;
    max-width: 464px;

    &.text-alert {
      color: #BD0F14;
      font-size: 17px;
      
      a {
        font-family: "Gotham-Bold"
      }
    }

    b {
      font-family: "Gotham-Medium";
    }
  }

  button {
    max-width: 264px;
    padding: 0.5rem 0;

    &:first-child {
      margin: 0 32px 0 0;
    }
  }
}

::ng-deep .modal-dialog {
  min-width: 652px;
}