@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/forms";

a {
  color: $blue-color !important;
  text-decoration: underline;

  &:hover {
    color: $red-color !important;
  }
}

.mobile {
  display: none;
  @include media(mobile) {
    display: block;
  }
}

.desktop {
  display: flex;
  @include media(mobile) {
    display: none !important;
  }
}

.buttonContainer {
  .button-primary {
    margin-left: 3rem;

    @include media(mobile) {
      margin-left: 0;
    }
  }
}

h4{
  color: $blue-color;
  margin-bottom: 20px;
}

p{
  color: $blue-color;
  font-family: "Gotham-Book";
  margin-bottom: 60px;
}

::ng-deep  .mat-radio-label-content{
  font-family: "Gotham-Book";
  color:#706F6F;
}

input,select,.select{
  font-family: "Gotham-Book";
}


::ng-deep .my-freaky-tooltip .arrow::before{
  border-top-color: $blue-color !important;
  border-bottom-color: $blue-color !important;
  border-color: $blue-color !important;
}
::ng-deep .my-freaky-tooltip .tooltip-inner{
  background-color: $blue-color !important;  
  text-align: left !important;
  padding: .25rem 1.5rem .25rem 1rem  !important;
  opacity: 1 !important;
}

::ng-deep .arrow::before{
  border-top-color: $blue-color !important;
  border-bottom-color: $blue-color !important;  
}

::ng-deep .tooltip-inner {	
	padding: 15px 20px 20px 20px !important;
	color: #fff;
	background-color: $blue-color !important;
	border-radius: 1.5rem !important;
  text-align: left !important;
  min-width: 250px !important;
  line-height: 1.1;
  b{
    font-family: "Gotham-Medium";
  }
}
::ng-deep .tooltip.show{
  opacity: 1 !important;
}

.autocomplete{
  label{
    display: block;
  }
  input{
    width: 100%;
    background: #fff;
    display: block;
    padding: 0 20px;
    height: 56px;
    margin-top: 2px;
    color:#706F6F;
    max-width: 90%;
  }  
  
  .mat-form-field {
    width: 100%;
  }
  ::ng-deep .mat-form-field-infix {
    display: inherit;    
  }  
}
::ng-deep .mat-option {
	color: #706F6F;
}
::ng-deep .mat-option.mat-active {
  background: $red-color;
  color: white;
}
::ng-deep .mat-option.mat-active:hover{
  color: #706F6F;
}

::ng-deep .mat-option:focus:not(.mat-option-disabled) {
	background: $red-color;
  color:#fff;
}
.residencia{
  display: flex;
}
.mat-form-field {
	width: 100%;
}


::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  font-family: "Gotham-Book", Arial, Helvetica, sans-serif;
	background: #ffffff  !important;
  box-shadow: 0px 1px 11px #cccccc66;
  border-radius: 8px !important;  
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex:hover{
  border: 1px solid $red-color;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before {
	height: 0px !important;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-ripple {	
	display: none;
}
::ng-deep .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
  display: none !important;
}
::ng-deep .mat-option{
  font-family: "Gotham-Book", Arial, Helvetica, sans-serif;
}
::ng-deep .mat-select-value {
  font-family: "Gotham-Book", Arial, Helvetica, sans-serif;
	color: #706F6F;
}
::ng-deep .mat-form-field-infix {
	display: block;
	position: relative;
	flex: auto;
	min-width: 0;
	width: 180px;
	margin-top: -9px;
	margin-left: 1em;
	padding: 5px 0;
	height: 53px;
}
::ng-deep .mat-select-trigger{
  width: 100%;
}
::ng-deep .mat-select-arrow{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 11px !important;
	height: 11px !important;
	border: solid #bd0f14 !important;
	border-width: 0 2px 2px 0 !important;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg) !important;
	-webkit-transform: rotate(45deg) !important;
}
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
	background: $red-color;
  color: #ffffff;
}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
	padding: 0 !important;
}
::ng-deep .mat-select-panel-wrap {
	flex-basis: 100%;
	margin-top: 36px;
	margin-left: -8px;
}
@media only screen and (max-width: 990px){
  .autocomplete{
    input{
      max-width: 94%;
    }
  }
}
@media only screen and (max-width: 480px) {
  .residencia{
    display: block;
    .group{
      display: block;
      width: 100%;
    }
    .ml-4.autocomplete{
      margin-left: 0  !important;
      margin-top: 1.5em;
    }
  }
  .autocomplete{
    input{
      max-width: 95%;
    }
  }
}

.certificate {
  margin: 0 -30px;
  padding: 59px 60px 56px;
  
  .title {
    font: 500 17px "Gotham-Medium";
    margin: 0 0 28px;
  }

  .text {
    font: 400 17px "Gotham-Book";

    a {
      font: 700 17px "Gotham-Bold";
    }
  }

  .button {
    border: none;
    border-radius: 12px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 11px #CCCCCC66;
    color: #706F6F;
    font: 400 12px "Gotham-Book" !important;
    height: 48px;
  }
}

.terminos {
  .text-dislcaimer {
    font: 400 17px "Gotham-Book";

    a {
      font: 500 17px "Gotham-Medium";
    }
  }
}

.summary {
  .centerImg {
    margin: 0 auto;
    display: block;
  }

  .clearfix {
    margin: 70px 0 0;
  }
  
  label{
    font-family: "Gotham-Medium";
  }
  
  .title {
    color: $gray-color;
    font: 400 24px "Gotham-Book";
  }
  
  .data {
    color: $red-color;
    font: 400 24px "Gotham-Book";
  }

  h4 {
    &.text-center {
      font: 700 30px "Gotham-Bold";
    }
  }

  p {
    margin-bottom: 0;

    &.text-center {
      font: 400 27px "Gotham-Book";

      strong {
        font: 700 27px "Gotham-Bold";
      }
    }
  }

  .dataCosigner {
    label {
      font: 500 26px "Gotham-Medium";
    }
  }

  .divider {
    background: #DFDFDF;
    height: 1px;
    margin: 0 0 18px;
    width: 100%;
  }

  .editar {
    background: $blue-color;
    border-radius: 20px;
    color: white;
    padding: 3px 10px;

    a {
      color: #fff !important;  
      text-decoration: none;
    }
  }

  .buttonContainer {
    margin: 108px auto 0;
    
    button {
      margin: 0 auto;
    }
  }
}
