@import "base/forms";
@import "abstracts/variables";
@import "abstracts/mixins";



:host::ng-deep.mat-checkbox-layout {
  white-space: normal !important;

  @include media(mobile) {
    line-height: 16px;
    font-size: 12px;
    margin-bottom: 15px;
  }
}

.buttonContainer {
  flex-direction: row-reverse;
  .button-primary {
    margin-left: 1rem;
  }
  @include media(mediumdv) {
    display: block;
    margin: 0 auto;
    width: 320px;
    .button {
      width: 100%;

      &-primary {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
    .mobile-mg{
      margin-top: 20px;
    }
  }
}

.dflex {
  @include media(desktop) {
    display: flex;
  }
}

.hide {
  display: none;
  opacity: 0;
  transition: visibility 0s linear 2s, opacity 2s linear;
}

.visible {
  display: inline;
  opacity: 1;
  transition-delay: 0s;
}
::ng-deep .mat-slide-toggle-bar {
	background-color: white !important;
  box-shadow: 0px 1px 11px #cccccc66
	//background-color: $blue-color !important;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background-color: $red-color !important;
}
::ng-deep  .mat-radio-label-content{
  font-family: "Gotham-Book";
  color:#706F6F;
}
.terminos{
  a{    
    font-family: "Gotham-Medium";
    padding: 0 5px;
    text-decoration: underline;
    color: $blue-color;
  }
  .text-dislcaimer{
    font-family: "Gotham-Book";
    margin-left: -30px;
    color: $blue-color;
    margin-bottom: 2em;
  }
  .row{
    height: 50px;
  }
} 

.box-check{
  padding: 32px 0;
  
}




h4{
  color: $blue-color;
  margin-bottom: 20px;
}
p{
  color: $blue-color;
  font-family: "Gotham-Book";
  margin-bottom: 60px;
}
::ng-deep  .mat-radio-label-content{
  font-family: "Gotham-Book";
  color:#706F6F;
}
input,select,.select{
  font-family: "Gotham-Book";
}

@media (max-width:992px){
  .terminos{
    
    .text-dislcaimer{      
      margin-left: 0px;
    }
    .row{
      height: auto;
    }
  } 
}




::ng-deep app-stepp2 .arrow::before{ 
  border-right-color: $blue-color !important;  
}


.centerImg {
  margin: 0 auto;
  display: block;
}

p {
  font-family: "Gotham-Book";
  margin: 0;  
}
label{
  font-family: "Gotham-Medium";
}
.title {
  font-family: "Gotham-Book";
  color: $gray-color;
}
.data {
  color: $red-color;
}

.editar {
  background: $blue-color;
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
}
.editar a{
  text-decoration: none;
  color: #fff;  
}
h4,P{
  color: $blue-color;
}
.dataRent{
  margin-top: 4rem;
}

.inmobiliaria{      
    padding-left: 300vw;
    padding-right: 300vw;
    margin-left: -300vw;
    margin-right: 300vw;
    width: max-content;
    padding-top: 32px;
}

@include media(mobile) {
  .terminos{
    padding-top: 12vw;
    padding-bottom: 12vw;
    .text-dislcaimer{
      display: contents;
    }
    .row{
      height: auto;
    }
  }
  .box-check{
    padding: 19px;
  }
  .box-check{
    .visible .d-flex{
      display: block !important;
    }
    .d-flex{
      
      .group {
        width: 100%;
        margin: 0 !important;
        margin-top: 24px !important;
      }
    }
  }
  .inmobiliaria {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
    width: 100%;
    padding-top: 32px;
  }  
}
@media screen and (max-width:800px) {
  .d-flex.desktop{
    display: none !important;
  }
}

