<div class="divider mobile"></div>
<div class="contentAll formMobile">
  <h3>Verifica los siguientes datos</h3>
  <p class="tagLine">En esta solicitud serás registrado como deudor solidario de la siguiente persona</p>
  <div class="card-lib">
    <div class="dataGroup">
      <p class="text1">Nombres</p>
      <p class="text2 red-text">Carlos Eduardo Cruz Pérez</p>
    </div>
    <div class="dataGroup">
      <p class="text1">Ciudad de inmueble</p>
      <p class="text2 red-text">Bogotá</p>
    </div>
    <div class="dataGroup">
      <p class="text1">Número de solicitud:</p>
      <p class="text2 red-text">1281943</p>
    </div>
  </div>
  <!-- <div class="buttonContainer">
    <button type="button" class="button button-primary" matStepperNext>Continuar</button>
  </div> -->
</div>