<div class="mobile container my-4 center">
  <div class="row w-100">
    <div class="card-lib center">
      <div class="col-6 h-100 center">Estudio tradicional</div>
      <div class="col-3 h-100 center bg-gray">Natural</div>
      <div class="col-3 h-100 center bg-gray br">Jurídica</div>
    </div>
  </div>
</div>

<div class="mobile container my-4 center">
  <div class="row w-100">
    <div class="card-lib center">
      <div class="col-2 h-100 center"><i class="hand"></i></div>
      <div class="col-8 h-100 start">Pagos electrónicos</div>
      <div class="col-2 h-100 center"><i class="arrow"></i></div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <h6 class="gray-text mobile">Acceso Inmobiliarias</h6>
  <div class="mobile">
    <div class="gridContainer">
      <div class="collections card-lib px-4 h-100">
        <div class="row h-100">
          <div class="col-4 center h-100">
            <i class="icon001"></i>
          </div>
          <div class="col-8 center h-100">
            <p class="m-0 blue-text lh-12">Cobranzas</p>
          </div>
        </div>
      </div>
      <div class="mobile judicial card-lib px-4 h-100">
        <div class="row h-100">
          <div class="col-4 center h-100">
            <i class="icon003"></i>
          </div>
          <div class="col-8 center h-100">
            <p class="m-0 blue-text lh-12">Procesos Judiciales</p>
          </div>
        </div>
      </div>
      <div class="insurance card-lib p-4 h-100">
        <div class="row h-100 column-center">
          <div class="col-4 center h-100">
            <i class="icon002"></i>
          </div>
          <div class="col-8 center h-100">
            <p class="m-0 text-center blue-text lh-12">
              Indemnizaciones seguro de arrendamiento
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="desktop bg-gray2 bg-image py-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="assets/images/poster.png" alt="libertador-poster" />
      </div>
      <div class="col-6">
        <div class="grid-container">
          <div class="card-lib form center p-3">
            <p class="blue-text lh-12">
              Formulario para estudios <br />
                de solicitudes de <br />
                arrendamiento
            </p>
          </div>
          <div class="card-lib natural center p-3 bg-gray">
            <p class="blue-text m-0">Persona Natural</p>
          </div>
          <div class="card-lib judicial center p-3 bg-gray">
            <p class="blue-text m-0">Persona Jurídica</p>
          </div>
          <div class="card-lib consult">
            <div class="row h-100">
              <div class="col-4 end h-100">
                <i class="icon004"></i>
              </div>
              <div class="col-8 pl-0 start h-100">
                <p class="m-0 blue-text lh-12">
                  Consulta de resultados
                </p>
              </div>
            </div>
          </div>
          <div class="card-lib payments">
            <div class="row h-100">
              <div class="col-4 end h-100">
                <i class="hand"></i>
              </div>
              <div class="col-8 pl-0 start h-100">
                <p class="m-0 blue-text lh-12">
                  Pagos electrónicos
                </p>
              </div>
            </div>
          </div>
          <div class="card-lib sios">
            <div class="row h-100">
              <div class="col-4 end h-100">
                <i class="icon002"></i>
              </div>
              <div class="col-8 pl-0 column-center h-100 py-3">
                <p class="m-0">SIOS</p>
                <p style="line-height: 0.7" class="m-0 blue-text">
                  <small>
                    <small
                      >(Sistema de indemnizaciones y operaciones del
                      Seguro)</small
                    >
                  </small>
                </p>
              </div>
            </div>
          </div>
          <div class="card-lib reports">
            <div class="row h-100">
              <div class="col-4 end h-100">
                <i class="icon005"></i>
              </div>
              <div class="col-8 pl-0 start h-100">
                <p class="m-0 blue-text lh-12">
                  Reporte de facturación
                </p>
              </div>
            </div>
          </div>
          <div class="card-lib cities">
            <div class="pt-4 pb-1 pl-4 pr-5">Valores de estudios en:</div>
            <div class="red-text px-4">
              <small
                >Armenia | <br />
                Barranquilla | <br />
                Bogotá | <br />Bucaramanga|<br />
                Cali | Cartagena <br />
                Ibagué |<br />
                Manizales |<br />
                Madellín | Pereira <br />
                Neiva |<br />
                Villavicencio |<br />
                Santa Marta |</small
              >
            </div>
          </div>
          <div class="card-lib judicial2">
            <div class="card-lib center">
              <div class="col-2 h-100 center"><i class="icon003"></i></div>
              <div class="col-8 h-100 start">
                Sistema de procesos judiciales
              </div>
              <div class="col-2 h-100 center"><i class="arrow"></i></div>
            </div>
          </div>
          <div class="card-lib personalData">
            <div class="card-lib center">
              <div class="col-2 h-100 center"><i class="icon006"></i></div>
              <div class="col-8 h-100 start">
                Protección de datos personales
              </div>
              <div class="col-2 h-100 center"><i class="arrow"></i></div>
            </div>
          </div>
          <div class="card-lib contact">
            <div class="card-lib center">
              <div class="col-2 h-100 center"><i class="icon007"></i></div>
              <div class="col-8 h-100 start">Contáctenos</div>
              <div class="col-2 h-100 center"><i class="arrow"></i></div>
            </div>
          </div>
          <div class="card-lib footer">
            <div class="row footer-box">
              <div class="col-4 center">
                <a class="linksHome blue-text lh-12"
                  ><small>Conózca nuestra compañía</small></a
                >
              </div>
              <div class="col-4 center">
                <a class="linksHome blue-text lh-12"
                  ><small>Preguntas frecuentes</small></a
                >
              </div>
              <div class="col-4 center">
                <a class="linksHome blue-text lh-12"
                  ><small>Notificaciones Judiciales</small></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="separador-100"></div>
  <div class="separador-100"></div>
</div>
