<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="card-icon col-3 p-0 text-right">
          <img src="assets/iconos/card-button.png" alt="card" />
        </div>
        <div class="col-9">
          <h3>Estudio digital de arrendamiento</h3>
          <p>
            <small
              >Evalúe su capacidad económica para determinar si cumple con los
              requisitos para arrendar un inmueble</small
            >
          </p>
        </div>
      </div>

      <div class="row bg-gray">
        <div class="col-4 center">
          <a class="linksHome" routerLink="/arrendatario">Crear solicitud</a>
        </div>
        <div class="col-4 center">
          <a class="linksHome">Consultar solicitud</a>
        </div>
        <div class="col-4 center">
          <a class="linksHome" routerLink="/codeudor">Registrar codeudor</a>
        </div>
      </div>
    </div>
  </div>
</div>
