<form>
  <h4 class="my-4">
    <small
      >Para validar su identidad enviamos un código al número de celular
      <span class="red">311********09.</span></small
    >
  </h4>

  <div class="container">
    <div class="box-code my">
      <div class="row mx-5 my-auto">
        <input type="phone" name="code1" id="code1" class="code col-3" />

        <input type="phone" name="code1" id="code1" class="code col-3" />

        <input type="phone" name="code1" id="code1" class="code col-3" />

        <input type="phone" name="code1" id="code1" class="code col-3" />
      </div>

      <div class="row">
        <p class="text-center">El código vence en: <strong>15 MINUTOS</strong></p>
      </div>
    </div>
  </div>

  <div class="buttonContainer my-5">
    <button class="button" matStepperPrevious>Volver</button>
    <button class="button button-primary" (click)="onSubmit($event)">
      Continuar
    </button>
  </div>
  
</form>
