@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/forms";

.cont-detail {
  background-color: white;
  padding: 50px 0px;
  p{
    font-size: 20px;
    b{
      font-family: "Gotham-Medium";
    }
  }
  .box-sw {
    box-shadow: 1px 1px 7px 0px #dcdcdc;
    margin: 0 auto;
    border-radius: 10px;
    padding: 30px;
    margin: 22px;
    margin-bottom: 55px;
    max-width: 735px;
    margin: 0 auto;
    h1{
      color: #bd0f14;
    }
    p{
      max-width: 550px;
      margin: 20px auto;
    }
  }
  h3{
    b{
      color: #bd0f14;
    }
  }
}

.bx-ms{
  padding: 73px;
  padding-bottom: 0;
  p{
    font-size: 20px;
    max-width: 550px;
    margin: 20px auto;
    b{
      font-family: "Gotham-Medium";
    }
  }
}

.box-sw {
  box-shadow: 1px 1px 7px 0px #dcdcdc;
  padding: 42px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 96px;
  margin-top: 90px;
  max-width: 735px;
  margin-left: auto;
  margin-right: auto;
  p{
    font-size: 20px;

  }
  .msg-big{
    font-family: "Gotham-Bold";
    font-size: 40px;    
    margin: 19px;
    color: $blue-color;
  }
}


@include media(mobile) {

 
  .cont-detail{
    padding: 25px 15px;
    h1{
      font-size: 1.1rem;
    }
    h3,p{
      font-size: 14px;
    } 
    
  }
  .box-sw{
    margin: 0px;
    margin-top: 45px;
    padding: 30px;
    margin-bottom: 39px;
    p{
      font-size: 12px !important;
      margin: 10px auto;
    } 
    h3{
      font-size: 14px      
    }  
    h3.mb-5{
      margin-bottom: 10px !important;   
    }
  }

  .bx-ms{
    margin-top: 25px;
    padding: 10px 30px;
    p{
      font-size: 12px !important;
      margin: 10px auto;
    }
  }

  .cont-detail .box-sw {
    padding: 10px 30px;
    margin: 0 auto;
    max-width: 80%;
  }
  
  .mobile_style{
    h4{
      text-align: initial !important; 
      margin: 0px !important;
      margin-bottom: 25px !important;
    }
  }
  .msg-big{
    font-size: 21px !important;
  }
  .buttonContainer{
    .button-primary{
      margin: 0;
    }
  }
  p{
    font-size: 12px;
  } 
  
}

h3{
  color: $blue-color;
  font-size: 20px;
  max-width: 550px;
  margin: 20px auto;
}
h4{
  color: $blue-color;
}
p{
  color: $blue-color;
  font-family: "Gotham-Book";
}
p.angosto{  
    max-width: 600px;
    margin: 0 auto;  
}