@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/forms";

.mobile {
  display: none;
  @include media(mobile) {
    display: block;
  }
}

.desktop {
  display: flex;
  @include media(mobile) {
    display: none !important;
  }
}

.buttonContainer {
  .button-primary {
    margin-left: 3rem;

    @include media(mobile) {
      margin-left: 0;
    }
  }
}

h4{
  color: $blue-color;
  margin-bottom: 20px;
}
p{
  color: $blue-color;
  font-family: "Gotham-Book";
  margin-bottom: 60px;
}
::ng-deep  .mat-radio-label-content{
  font-family: "Gotham-Book";
  color:#706F6F;
}
input,select,.select{
  font-family: "Gotham-Book";
}